body {
    margin: 0px;
    
}
a {
    color: black;
}

.clap {
    position: fixed;
    text-align: center;
    line-height: 20px;
    display: block;
    top: 50%;
    left: 10%;
    border: 1px solid #9E9E9E;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    align-items: center;
}
.clap__num {
    margin-top: 10px;
}

.clap:hover {
    border-color: #607D8B;
    cursor: pointer;
}
.clap__pic {
    
}

.main {
    margin: 0 auto;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;

}
.title {
    top: 50px;
    text-align: left;
    font-size: 40px;
    margin-top: 40px;
}
.writter {
    display: inline-flex;
    position: relative;
    text-align: left;
    top: 30px;
    left: 0px;
}
.profile img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 2px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-right-color: white;
    border-left-color: white;
    border-top-color: green;
    border-bottom-color: green;
    border-width: 1px;
    padding: 4px;
}
.info {
    margin-left: 15px;
    margin-top: 10px;
    line-height: 22px;
    font-family: sans-serif;
    color: darkgray;
}
.name {
    color: #000000e0;
    font-size: 16px; 
}

.date:after {
    content: " ‧ 5 min read";
}
.main__article {
    margin-top: 50px;
    font-size: 21px;
    line-height: 30px;
}

@media screen and (max-width: 1120px){
    .clap {
        display: none;
    }
}
@media screen and (max-width: 900px){
    .title{
		font-size: 32px;
	}
	.article{
		font-size:  16px;
	}
}